@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Slab');

body {
	font-family: 'Roboto Slab',serif;
	font-weight: bold;
	font-size:20px;
	text-align: center;
	line-height: 1.5em;
	background-image: url(../images/DetroitBW.jpg);
	background-size:2000px;
	color: #fff;
	margin: 3em;
}

header {
    padding: 20px;
}

nav {
    background-color: black;
    border: 1px black solid;
    padding: 1px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#two_column{
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: black;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 45%;
    height: 20%;
}

#right {
    background-color: black;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 45%;
    height:20%;
}


article {
    background-color: black;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: black;
    border: 1px black solid;
    padding: 20px;
}

div / section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
 
h1 {	
	font-family: 'Oswald', bold;
	font-weight: bold;
	font-size:80px;
}

h2 {
	font-family: 'Roboto Slab', medium, sans-serif;
}

ul {
    text-align: center;
    list-style-type: none;
}