h1{
	font-weight: bold;
	font-style: italic;
	font-size:60px;
}
body {
	
	text-align: center;
	font-family: helvetica, sans-serif;
	font-style: bold;
	font-size:20px;
	background-image: url(../images/DetroitBW.jpg);
	background-size:2000px;
	color: #fff;
}
ul {
    text-align: center;
    list-style-type: none;
}